@import "../../styles/variables";

.container {
  margin: 24px 87px 128px 80px;
  display: flex;
  flex-direction: column;
}

.aside-list {
  width: 314px;
  height: auto;
}

.list-element {
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.64px;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 16px;
}

.main-section {
  margin-left: 111px;
  width: 100%;
}

.mainCatalogueSection {
  display: flex;
}

.select-section {
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.select {
  border: none;
  background-color: inherit;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.64px;
  letter-spacing: 1px;
  text-align: left;
}

.cards-section {
  width: 100%;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 16px;
}

.pagination-section {
  margin-top: 40px;
}

@media screen and (max-width: 375px) {
  .card-image img {
    width: 147px !important;
    height: 248px;
    object-fit: cover;
  }
  .cards-section {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 430px) {
  .card-image img {
    width: 178px !important;
  }
  .cards-section {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 12px 10px;
  }

  .aside-list {
    display: none;
  }

  .catalogue-selects {
    display: none;
  }

  .main-section {
    margin: 0;
  }

  .cards-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 6px;
    grid-row-gap: 32px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .cards-section {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
