@import '../../styles/variables.scss';

.about {

  font-family: $font-primary;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.64px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 120px;

  @media screen and (max-width: $mobile-end) {
    margin-top: 44px;
    margin-bottom: 44px;
  }

  &__title {
    margin-bottom: 44px;

    @media screen and (max-width: $tablet-end) {
      margin-bottom: 32px;
    }
  }

  &-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;

    &__item {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 44px;
      text-align: center;
      flex-basis: 25%; /* Default: 4 items per row */

      @media (max-width: 600px) {
        flex-basis: 50%; /* 2 items per row */
      }
    }

    &__link {
      text-decoration: none;
      color: $color-text-black;
    }

    &__img {
      width: 100%;
      max-width: 160px;
      margin-bottom: 24px;
    }

    &__title {
    }
  }

}