@import '../../styles/_variables.scss';


.cart {

  &_product {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &-image {
      height: 248px;
      width: 202px;
      cursor: pointer;
    }

    &-name {
      margin-left: 20px;
      margin-right: 20px;
      max-width: 118px;

      @media screen and (max-width: $mobile-end) {
        margin: 12px auto;
      }
    }

    &-price {
      font-family: Helvetica;
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 1px;
      text-align: center;
      margin-top: 36px;

      @media screen and (max-width: $mobile-end) {
        margin: 10px;
      }
    }

    &-delete {
      position: absolute;
      right: -14px;
      bottom: 5px;
    }
  }

  &_price {
    font-family: Helvetica;
    font-weight: 400;
    font-size: 16px;
    line-height: 124%;
    letter-spacing: 1px;
  }

  &_total-price {
    font-family: Helvetica;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 1px;
  }

  &_button {
    @media screen and (max-width: $mobile-end) {
      font-size: 20px;
    }
  }

}