@import "../../styles/variables";

.header {

  background-color: $color-background-black;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 5;

  &__container {
    display: block;
    position: relative;


    @media screen and (max-width: $tablet-end) {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
  }

  &__logo {
    display: inline-block;
    margin-left: -7px;
    max-height: 80px;

    @media screen and (max-width: $tablet-end) {
      max-height: 56px;
    }
  }

  &__menu {

    &--wrapper {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 20px;


      @media screen and (max-width: $tablet-end) {
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 10px;
      }

      @media screen and (max-width: $mobile-end) {
        margin-left: 16px;
        margin-right: 16px;
      }
    }
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    gap: 27px;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1;

    @media screen and (max-width: $large-screen) {
      gap: 20px;
    }

    &--favorite, &--cart {
      position: relative;
    }

    &--counter {
      position: absolute;
      right: -2px;
      bottom: -1px;

      align-items: center;
      background-color: $color-background-adv;
      border-radius: 100%;
      color: $color-text-white;
      display: flex;
      font-size: 12px;
      font-weight: 300;
      line-height: 14.4px;
      height: 14px;
      justify-content: center;
      width: 14px;
    }
  }

  &__search {

    &--large-screen {
      display: block;

      @media screen and (max-width: $tablet-end) {
        display: none;
      }
    }

    &--small-screen {
      display: none;

      @media screen and (max-width: $tablet-end) {
        display: block;
      }
    }
  }

  &__sale {
    background-color: $color-background-adv;
    padding: 20px;
    max-width: inherit;
    text-align: center;

    @media screen and (max-width: $tablet-end) {
      padding: 7px 0;
    }


    &-text {
      color: $color-text-white;

      @media screen and (max-width: $tablet-end) {
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%; /* 14.4px */
        letter-spacing: 1px;
      }
    }
  }
}