@import "../../styles/variables";

.header {

  &__logo {
    display: inline-block;
    max-height: 80px;

    @media screen and (max-width: $mobile-end) {
      max-height: 56px;
    }
  }

  &__menu {
    background-color: $color-background-black;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5;

    //@media screen and (max-width: $desktop-start) {
    //  //padding-left: 20px;
    //  //padding-right: 20px;
    //}

    &--wrapper {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: space-between;
      max-width: $max-content-width;
      margin: 0 auto;
      padding: 20px;


      @media screen and (max-width: $tablet-end) {
        justify-content: space-between;
      }
    }
  }



  &__icons {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 27px;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1;

    &-favorite {
      position: relative;
    }

    &_favorite-counter {
      right: -8px;
      top: -5px;

      align-items: center;
      background-color: #c57100;
      border-radius: 100%;
      color: #fff;
      display: flex;
      font-size: 10px;
      font-weight: 500;
      height: 16px;
      justify-content: center;
      position: absolute;
      width: 16px;
    }
  }

  &__sale {
    background-color: $color-background-adv;
    padding: 20px;
    margin-top: 24px;
    max-width: inherit;
    text-align: center;

    &-text {
      color: $color-text-white;

      @media screen and (max-width: $mobile-end) {
        font-family: Helvetica;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%; /* 14.4px */
        letter-spacing: 1px;
      }
    }
  }
}