@import '../../styles/variables';


.slick-track {
  display: flex;
  //gap: 16px;
}

.slick-slide {
  margin: 0; // Remove any default margin or padding
  width: calc((100% - (3 * 16px)) / 4); // 3 gaps for 4 images
}

.custom-prev, .custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: $color-arrow-slider;
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.custom-prev {
  left: -114px;

  @media screen and (max-width: $large-screen) {
    left: -74px;
  }
}

.custom-next {
  right: -114px;

  @media screen and (max-width: $large-screen) {
    right: -74px;
  }
}

.arrivals__button {
  background: $color-button-secondary;
  max-width: 248px;
  margin: 44px auto 0;

  @media screen and ($tablet-end) {
    margin-top: 20px;
  }
}