@import "./styles/reset.css";
@import "./styles/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: $color-background-main;
}

h1 {
  font-family: $font-primary;
  font-size: 48px;
  font-weight: 400;
  line-height: 59.28px;
  letter-spacing: 1px;
}
